# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# astronomer-cosmos
apache-airflow-providers-snowflake==3.1.0
# cosmos==1.4.1